# Python
venv/
venv1/
venv_stable/
**/venv_stable/
__pycache__/
*.egg-info/
dist/
build/

# Environment variables
.env
docker.env

# Logs
*.log
logs/

# Process IDs
pids/

# Node / front-end
node_modules/
.cache/
dist/
build/

# macOS
.DS_Store
